/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.box {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.fa {
  margin-right: 5px;
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-github:before {
  content: "\f09b";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-twitter:before {
  content: "\f099";
}

#skills {
      font-size: 32px;
/*       text-align: center; */
      margin-bottom: 40px;
      color: #333;
    }

    .skills-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }

    .skill-category {
      background-color: #f7f7f7;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 250px;
      transition: transform 0.3s ease;
    }

    .skill-category:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    }

    .skill-category h3 {
      font-size: 20px;
      color: #333;
      text-align: center;
      margin-bottom: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .skill-category ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .skill-category ul li {
      margin-bottom: 8px;
      color: #666;
      font-size: 16px;
      position: relative;
      padding-left: 20px;
      transition: color 0.3s ease;
    }

    .skill-category ul li:before {
      content: "\f00c";
      color: #666;
      display: inline-block;
      font-family: "FontAwesome";
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 4px;
      transition: color 0.3s ease;
    }

    .skill-category ul li:hover {
      color: #333;
    }

    .skill-category ul li:hover:before {
      color: #333;
    }
/* Apple-style specific styles */
body {
  background-color: #f9f9f9;
}

.main {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #333;
  font-weight: bold;
}

a {
  color: #0070c9;
}

.box {
  border-bottom: 1px solid #ddd;
}

.navbar {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.navbar li {
  margin-left: 10px;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ccc;
}

.navbar i:hover {
  color: #ccc;
}

.navbar-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-contact h1 {
  margin-bottom: 10px;
  color: #000;
}

.navbar-contact div {
  display: flex;
  align-items: center;
}

.navbar-contact a {
  color: blue;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.navbar ul li {
  margin-left: 10px;
}

.navbar ul li a {
  color: #000;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

  footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo img {
    height: 40px;
    width: auto;
  }

  .footer-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
  }

  .footer-social a {
    margin-right: 10px;
    color: #333;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer-bottom p {
    font-size: 12px;
    color: #777;
    margin: 0;
  }

  .footer-gototop {
    margin-top: 10px;
  }

  .footer-gototop a {
    text-decoration: none;
    color: #333;
  }


@media (max-width: 1350px) {
  .navbar li {
    display: none;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .main {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  ul {
    margin-left: 0;
    padding-left: 20px;
  }

  .navbar-contact a {
    display: none;
  }
  .skills-container {
    justify-content: center;
  }

  .skill-category {
    width: 100%;
    max-width: 350px;
  }
}

@media (min-width: 769px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}
